@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@1,300&family=Newsreader:ital,wght@1,200&display=swap');
/* Specific CSS for your home-page */

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}

.url{
  transition: filter 250ms ease, color 300ms ease, -webkit-filter 150ms ease;
  cursor: pointer;
  color:#175981;
  text-decoration-thickness: 2px;
}

.url:hover{
  filter: blur(1px);
  color:#175981;
  transition: filter 250ms ease, color 300ms ease, -webkit-filter 150ms ease;
}

.url4:hover{
  cursor: s-resize;
} 


.hide-body{
  opacity: 0;
  transition: all 2s ;
}

.loading-div{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;  
    z-index: -1000;
}

.loading-text{
  font-size: 15px;
  color: #333;
}

.hidden{
  opacity: 0;
  transition: all 2s;
}

.linear-wipe {
  background: linear-gradient(-45deg, #dd5078, #6355a4, #3edae8, #ffc271);
	background-size: 300%;
  background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

.linear-wipe-2 {
  background: linear-gradient(45deg, #672f3c, #362c60, #1d6169, #664d29);
	background-size: 300%;
  background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin: auto;
  
}

.footer{
  position: fixed;
  padding-top: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.bullet-nav{
  background: rgb(0, 0, 0);
  
  background: linear-gradient(-45deg, #dd5078, #6355a4, #3edae8, #ffc271);
	background-size: 300%;
  background-clip: text;
  backdrop-filter: blur(6px);
  color: white;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 16px;
  }
}
